@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653988132919') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github3:before {
  content: "\e743";
}

.icon-tuitetwitter44:before {
  content: "\e708";
}

.icon-weibo:before {
  content: "\e64b";
}

